# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
#ORDER LIST

    1.Java
    2.Python
    3.C++
    4.R

Some of the commonly used libraries used by Data Scientists include:
    # Order list
    
    1.Matplotlib
    2.Seaborn
    3.Pytorch
    4.Tensorflow

# Create Data Science


| Data Science Tools |
-----------------------------
| Pandas|
| NumPy |
|Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives**

List popular languages for Data Science

#unordered list

- Python
- R
- Julia

## Author
 Antony Donbosco